*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  display: flex;
  text-align: center;
  font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
  color: white;
  font-size: 20px;
  background-color: black;
  padding: 30px;

}
#front{
  text-align: center;
  margin-left:310px;
}
body{
  background-image: linear-gradient(to right, #ABC8E7, #7FF2CF);
  height: 100%;
}

.paragraphs{
  display: flex;
  justify-content: space-around;
}

img{
  display: flex;
  height:60px;
  width:60px;
  object-fit: cover;
  margin-right:auto;
  margin-left: auto;

}

.paragraphs{
  text-align:center;
}


.map-one{
  height:660px;
  width:80%;
  object-fit: cover;
  padding: 20px
}
.map{
  position: relative;

}
.map .chi{
  background-color: white;
  color:black;
  position: absolute;
  width:20px;
  height:20px;
  top:34%;
  right:38%;
  transform:translate(-50%,50%);
}

.map .chi:hover{
  background-color:#D7F75B ;
  color:white;

}


.map .la{
  background-color: white;
  color:black;
  position: absolute;
  width:20px;
  height:20px;
  top:55%;
  right:80%;
  transform: translate(-50%,50%);
}
.map .la:hover{
  background-color:#FCF6BD;
  color:white;
}
.map .NY{
  background-color: white;
  color:black;
  position: absolute;
  width:20px;
  height:20px;
  top:30.7%;
  right:18.5%;
  transform:translate(-50%,50%);
}
.map .NY:hover{
  background-color:#E4C1F9;
  color:white;
}

.map .chicago {
  position:absolute;
  background-color: #A9DEF9;
  top: 35%;
  right: 40%;
font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
}
.chicago {
  display: none;
}
.newYork {
  display: none;
}
.losAngeles {
  display: none;
}
.ssp{
  background-color: red;


}

#first{
  background-color:#D0F4DE;
  width: 101px;
  height:50px;
  font-size: 15px;
  font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
}
#second{
  background-color:#D0F4DE;
  width: 101px;
  height:50px;
  font-size: 15px;
  padding:10px;
  font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
}
.map .newYork {
  position:absolute;
  background-color: #A9DEF9;
  top:32%;
  right:20%;
font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
}

.map .losAngeles {
  position:absolute;
  background-color: #A9DEF9;
  top:55%;
  right:80%;
font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
}
